.HomePage {
	display:flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}

.btn {
    color:white;
    cursor: pointer;
	position: relative;
	padding: 2.5rem 7.5rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	
	border: 1px solid #012880;
    background: linear-gradient(90deg, rgb(101, 101, 221) 3%, rgba(39,29,253,1) 80%);
	box-shadow: 0 1rem 1.25rem 0 rgba(43, 87, 190, 0.5),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
	
	transition: all 0.5s;

	&:before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}
}
.btn-home {
	padding: 2rem 6rem;
}

